# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/lib    !export-ignore
/lib/** !export-ignore
/webrtc.gdextension !export-ignore
